<ion-tabs *ngIf="sawUsers == false" class="tabs-bar" style="position:absolute;top:60px;">
	<ion-tab-bar class="tabs-bar" slot="top">
		<ion-tab-button class="tabs-bar--button" tab="chat">
			<ion-icon name="chatboxes"></ion-icon>
			<ion-label>Chat</ion-label>
		</ion-tab-button>
		<ion-tab-button class="tabs-bar--button" tab="gruppi">
			<ion-icon name="contacts"></ion-icon>
			<ion-label>Gruppi</ion-label>
		</ion-tab-button>
		<ion-tab-button class="tabs-bar--button" tab="stato">
			<ion-icon name="apps"></ion-icon>
			<ion-label>Stato</ion-label>
		</ion-tab-button>

		<ion-tab-button class="tabs-bar--button" tab="utenti">
			<ion-icon name="people"></ion-icon>
			<ion-label>Utenti</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>