<ion-content (swiperight)="swipeRight()" padding>
  <div class="cont-rot" *ngIf="caricamento">
    <img class="rot-img" src="../../assets/rotella.png" alt="">
  </div>
  <ion-item-group *ngFor="let friend of friends">
    <ion-item *ngIf="!friend.payload.child('online').val()"
      (click)="openChat(friend.payload.key,friend.payload.val().firstname,friend.payload.val().lastname,friend.payload.val().foto)">
      <ion-avatar slot="start">
        <img src="{{friend.payload.val().foto}}">
      </ion-avatar>
      <ion-label>
        <ion-text>{{friend.payload.val().firstname}} {{friend.payload.val().lastname}}</ion-text>
        <ion-icon *ngIf="friend.payload.child('status').val()" name="square" color="success" text-right></ion-icon>
      </ion-label>
    </ion-item>

  </ion-item-group>


</ion-content>