.tabs-bar {
    // --background: linear-gradient(to right, #000000, #434343);
    --background: #000000;
    border-radius: 20px;
    // z-index:1;

    &--button {
        --background: transparent;
        --color-selected: #fff;
    }
}